.scroll_button{
    position: fixed;
    bottom: 20px;
    right: 28px;
    padding: 10px 15px;
    font-size: 20px;
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--secondary-color);
    z-index: 1000;
    font-weight: 700;
}

