.main_nav {
    background-color: var(--primary-color);
    padding: 20px var(--primary-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Merienda", cursive;
    position: sticky;
    top: 0;
    z-index: 1;
}

@media (max-width:690px) {
    .main_nav {
        padding: var(--mobile-padding);
        padding-bottom: 0;
    }

}

.main_nav .logo {
    color: var(--secondary-color);
    cursor: pointer;
}

.main_nav .logo h2 {
    font-size: 40px;
}

.main_nav .logo span {
    color: var(--accent-color);
}

.main_nav .nav_links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

@media (max-width:950px) {
    .main_nav .nav_links ul {
        display: none;
    }
}

.main_nav .nav_links ul li {
    font-size: 18px;
}

.main_nav .nav_links ul li:hover {
    border-bottom: 2px solid var(--accent-color);
}

@media (max-width:440px) {
    .main_nav .btn {
        display: none;
    }

    .main_nav .logo {
        text-align: center;
        width: 100%;
    }
}

.mobile_menu {
    display: none;
}

.mobile_menu img {
    width: 40px;
}

@media (max-width:440px) {
    .mobile_menu {
        display: block;
    }
}

.main_nav .mobile_nav_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

/* @media (max-width:950px) {
    .main_nav .mobile_nav_links ul{
        display: none;
    }
} */
.main_nav .mobile_nav_links ul li {
    font-size: 18px;
}

.main_nav .mobile_nav_links ul li:hover {
    border-bottom: 2px solid var(--accent-color);
}

.mobile_container {
    width: 65vw;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000000;
    padding: 10px;
}

.mobile_container .mobile_image {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px 16px ;
}

.mobile_container .menu_section {
    width: 65vw;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000000;
    padding: 10px;
}

.open_icon {
    display: flex;
    align-items: center;
    justify-content: end;
    padding:20px 16px;
}
.menu_btn{
    padding: 8px 20px;
    border-radius: 100px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #0000003e;
}

.mobile_container .active {
    display: none;
}