@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color:#FFFFFF;
  --secondary-color:#1E1E1E;
  --accent-color:#FC8A06;

  --primary-padding:48px;
  --mobile-padding:12px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", cursive;
}
::-webkit-scrollbar, :hover{
  transition: 0.3s ease;
}
h2{
  font-size: 28px;
  color: var(--secondary-color);
  font-family: "Hanken Grotesk", cursive;
}
li{
  list-style: none;
  color: #000;
}
a{
  text-decoration: none;
}
p{
  font-size: 16px;
}
.active{
  background-color: var(--accent-color);
  padding: 4px 12px;
  border-radius: 100px;
  text-align: center;
}
.active li{
  color: var(--primary-color);
}
.btn{
  padding: 8px 20px;
  border-radius: 100px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 600;
}
.btn:hover{
  background-color: #1e1e1ec8;
}