.menu_section {
    
}

.menu_section header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 20px var(--primary-padding);

}
@media (max-width:700px) {
    .menu_section header{
        padding: var(--mobile-padding);
        padding-top: 0;
        text-align: center;
    }
}
@media (max-width:700px) {
    .menu_section header h2{
        font-size: 24px;
        margin: auto;
        width: 100vw;
    }
}

.menu_section .searchbar form {
    display: flex;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;

}
.menu_section .searchbar form div{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_section .searchbar form img {
    width: 100%;
}

.menu_section .searchbar form input {
    border: none;
    font-size: 18px;
    outline: none;
    width: 100%;
}

.menu_section nav{
    background-color: #f3f3f3;
}
.menu_section nav .container{
    padding: 18px var(--primary-padding);

}
@media (max-width:700px){
    .menu_section nav .container{
        padding: var(--mobile-padding);
        padding-bottom: 0;
    }
}
.menu_section nav .container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Merienda", cursive;
    font-weight: 600;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
}
.menu_section nav .container ul div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.menu_section nav .container ul div:hover{
    color: var(--accent-color);
}
.menu_section nav .container ul div img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    border: 4px solid gray;
}
.menu_section nav .container ul div .selected{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    border: 6px solid var(--accent-color);
}
.menu_section .category_items{
    padding: var(--primary-padding);
}
@media (max-width:700px){
    .menu_section .category_items{
        padding: var(--mobile-padding);
        padding-bottom: 48px;
    }
}
.menu_section .category_items h2{
    font-size: 28px;
    padding-bottom: 12px;
}
.menu_section .category_items .items_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;    
}
@media (max-width:950px) {
    .menu_section .category_items .items_card{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:660px) {
    .menu_section .category_items .items_card{
        grid-template-columns: 1fr ;
        gap: 8px;
    }
}
.menu_section .category_items .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 6px gray;
    cursor: pointer;
    width: 100%;
    height: 200px;
}
.menu_section .category_items .card_info{
    display: flex;
    flex-direction: column;
    padding-right: 4px;
}
.menu_section .category_items .card_info h2{
    font-size: 20px;
}
.menu_section .category_items .card_info p{
    font-size: 14px;
    padding-bottom: 8px;
    height: 120px;
    overflow-y: auto;
}
.menu_section .category_items .card_info b{
    padding-top: 4px;
}
.menu_section .category_items .card_image{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.menu_section .category_items .card_image img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.menu_section .category_items .card_image div{
    position: absolute;
    bottom:10px;
    width: 40px;
    height: 40px;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: #f3f3f3; 
    border-radius: 28px 0 0 0;
    
}
.menu_section .category_items .card_image div h3{
    font-size: 32px;
    font-weight: 500;
}