.popular_section .popular_container{
    padding: var(--primary-padding);
    margin-bottom: 40px;
}
@media (max-width:690px) {
    .popular_section .popular_container{
        padding: var(--mobile-padding);
        padding-top: 0;
    }
}
.popular_container .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}
@media (max-width:690px) {
    .popular_container .heading{
        padding-bottom: 12px;
    }
}
@media (max-width:690px){
    .popular_container .heading h2{
        line-height: 1.1;
    }
}
.popular_container .item_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
}
@media (max-width:950px) {
    .popular_container .item_card{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
@media (max-width:690px) {
    .popular_container .item_card{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
.popular_container .card{
    position: relative;
    border-radius: 8px;
    height: 180px;
    cursor: pointer;
    text-align: center;
}
@media (max-width:690px){
    .popular_container .card{
        height: 100px;
    }
}

.popular_container .card:hover{
    opacity: 0.7;
}
.popular_container .card img{
    width: 100%;
    height: 100%;
    object-position: center center;
    border-radius: 8px;
    position: relative;
}
.popular_container .item_card small{
    font-weight: 600;
    font-size: 16px;
}
@media (max-width:690px){
    .popular_container .item_card small{
        position: absolute;
        font-size: 16px;
        line-height: .7;
        left: 0;
        bottom: 4px;
        color: var(--primary-color);
    }
}

